<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>

<body>
    <h1>Add item</h1>
    <form method="POST">
        <input type="text" name="text">
        <input type="submit" placehoder="add">
    </form>
</body>

</html>