<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Hello from ejs</h1>
    <ul>
        <% arr.forEach(function(item){ %>
            <li>
                <%= item%>
            </li>
            <% }); %>
    </ul>
    <p><a href="/create">Go to form</a></p>
</body>

</html>